@model IEnumerable<WebApplication3.Models.Comentario>


@{
    ViewData["Title"] = "Comentario";
}

<h1>Comentario</h1>

<p>
    <button type="button" class="btn btn-success"><a asp-action="Create">Novo</a></button>
</p>

@foreach (var item in Model)
{


    <div class="card">
        <div class="card-header">
            @item.Titulo
        </div>
        <div class="card-body">
            <h5 class="card-title">@item.Autor</h5>
            <h6 class="card-title"> @item.DataDoComentario</h6>
            <p class="card-text">@item.Descricao</p>
            <button type="button" class="btn btn-warning"><a asp-action="Edit" asp-route-id="@item.ComentarioId">Editar</a></button>
            <button type="button" class="btn btn-danger"><a asp-action="Delete" asp-route-id="@item.ComentarioId">Deletar</a></button>
        </div>
    </div>


}
  