@model IEnumerable<WebApplication3.Models.Mensagem>

@{
    ViewData["Title"] = "Mensagem";
}

<h1>Mensagem</h1>

<p>
    <button type="button" class="btn btn-success"><a asp-action="Create">Novo</a></button>
</p>
<table class="table table-bordered table-hover text-center">
    <thead class="thead-light">
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Descrição
            </th>
            <th>
                Data
            </th>
            <th>
                Categorias
            </th>
            <th>
                Comentarios
            </th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorias.CategoriaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentarios.ComentarioId)
            </td>
            <td>
                <button type="button" class="btn btn-warning"><a asp-action="Edit" asp-route-id="@item.Id">Editar</a></button>
                <button type="button" class="btn btn-danger"><a asp-action="Delete" asp-route-id="@item.Id">Deletar</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
