@model WebApplication3.ViewModel.VmMensagemComentario

@{
    ViewData["Title"] = "Fórum";
}

<h1>Mensagem</h1>

<p>
    <a class="btn btn-success" asp-action="Create" asp-controller="Mensagem">Novo</a>
</p>

@foreach (var item in Model.Comentarios)
{
    <div class="card mb-5">
        <div class="card-header">
            Titulo:  @item.Titulo - @item.Autor    <button type="button" class="btn btn-info"><a asp-action="Edit" asp-controller="Comentarios" asp-route-id="@item.ComentarioId" style="color: white" >Editar</a></button>
            <button type="button" class="btn btn-warning"><a asp-action="Delete" asp-controller="Comentarios" asp-route-id="@item.ComentarioId">Deletar</a></button>

        </div>
        <div class="card-body">
            @item.Descricao
            <div class="row">

                @foreach (var item2 in Model.Mensagems)
                {

                    @if (item.ComentarioId == item2.ComentarioId)
                    {
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    @item2.Titulo
                                </div>
                                <div class="card-body">
                                    <h6 class="card-title">@item2.Descricao</h6>
                                    <h7 class="card-title">@item2.Data</h7>
                                    <button type="button" class="btn btn-info"><a asp-action="Edit" asp-route-id="@item2.Id" style="color: white" >Editar</a></button>
                                    <button type="button" class="btn btn-warning"><a asp-action="Delete" asp-route-id="@item2.Id">Deletar</a></button>
                                </div>
                            </div>

                        </div>



                    }
                }
            </div>

        </div>


    </div>
}
